<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{fullName}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
var app = new Vue({
el: '#app',
data: {
    // a : 2,
    firstName : 'Tuanku',
    middleName : 'Imam',
    lastName : 'Bonjol'
    },
    computed : {
        fullName :{
            get : function(){
                return `${this.firstName} ${this.middleName} ${this.lastName}`
            },
            set : function(params){
                let arr = params.split(' ')
                this.firstName = arr[0]
                this.middleName = arr[1]
                this.lastName = arr[2]
            }
        }
    }
})
</script>
</body>
</html>