body {
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
}

.container {
    margin-top: 155px;
    margin-left: 120px;
    margin-right: 156px;
    width: auto;
    display: grid;
    grid-template-columns: 700px 410px;
    grid-column-gap: 50px;
}

.container :first-child{
    text-align: justify;
}

h1 {
    margin-bottom: 8px;
}

.container .item h1 span{
    color: #0097FA;
}

h6 {
    margin: 0;
    font-size: 24px; 
}

p{
    margin-top: 32px;
    margin-bottom: 104px;
}

ul{
    display: flex;
    justify-content: left;
    padding: 0px; 
}

li {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 72px;
    list-style: none;
}

